@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{    
   font-family: "Pixelify Sans", sans-serif;      
}
h1{
    color: #6172c5;
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: xx-large;
    color: #ed2ea5;
    
}
li{
    display: inline-block;
    margin-right: 50px;
}
ul{
    text-align: center;
    color: #f34105;
    font-size: xx-large;
}